<!-- row  -->
<section class="technologies_container row py-5">
    <!-- col1  -->
    <section class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center align-items-center my-1">
        <img src="../../assets/html.webp" alt="html_img" class="img-fluid" height="100" width="100">
    </section>
    <!-- col2  -->
    <section class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center align-items-center my-1">
        <img src="../../assets/css.webp" alt="html_img" class="img-fluid" height="80" width="70">
    </section>
    <!-- col3  -->
    <section class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center align-items-center my-1">
        <img src="../../assets/js.webp" alt="html_img" class="img-fluid" height="100" width="100">
    </section>
    <!-- col4  -->
    <section class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center align-items-center my-1">
        <img src="../../assets/bootstrap.webp" alt="html_img" class="img-fluid" height="100" width="100">
    </section>
</section>
