<main class="main-section container">
    <!-- navigation_section row  -->
    <!-- <section class="nav_section mb-4 row"> -->
        <!-- col1 -->
        <!-- <section class="col-* heading_name d-flex align-items-center py-3 bg-primary">
            <ul class="list_container d-flex w-100 list-unstyled justify-content-center mb-0">
                <li class="list"><a href="#" class="list_links text-decoration-none text-dark mx-4 text-uppercase fw-medium">Home</a></li>
                <li class="list"><a href="#" class="list_links text-decoration-none text-dark mx-4 text-uppercase fw-medium">About</a></li>
                <li class="list"><img src="#" alt=""></li>
                <li class="list"><a href="#" class="list_links text-decoration-none text-dark mx-4 text-uppercase fw-medium">Works</a></li>
                <li class="list"><a href="#" class="list_links text-decoration-none text-dark mx-4 text-uppercase fw-medium">Contacts</a></li>
            </ul>
        </section>
    </section> -->
<!-- Second Section  -->
<section [@myAnim] class="row mt-5">
<section class="title_section pt-5">
    <h2  class="title  fw-semibold text-center pt-3">Modern Tech</h2>
    <blockquote class="subtitle text-center text-uppercase fs-4">Blog Site</blockquote>
    <div class="d-flex justify-content-center py-2"><hr class="line_one rounded-5"></div>
    <p class="title_desc text-center px-4 fs-6 mt-3 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis nostrum ipsam, error recusandae exercitationem, repellat alias quasi similique eum incidunt, delectus explicabo sint asperiores voluptate! Earum optio obcaecati dolorem unde.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit iure recusandae illum labore error quis eos, adipisci maiores alias numquam voluptatibus sit tempore provident, veritatis autem. Fugiat, enim iure.
    </p>
    <div class="button_container d-flex justify-content-center"><button class="contact_button my-4" mat-icon-button mat-ripple (click)="expandMore()"><mat-icon>{{isIconClicked?'expand_less':'expand_more'}}</mat-icon></button></div>
    <section id="dynamic_container" class="row my-5" *ngIf="isExpandMoreVisible" [@myAnim2]>
        <!-- col1 -->
        <section class="branding-projects col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
            
        </section>
        <!-- col2 -->
        <section class="branding_projects col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center px-4">
            <!-- Contact form Component  -->
            <app-contact-form></app-contact-form>
        </section>
    </section>
</section>
</section>
<!-- Technologies Component  -->
<!-- <app-technologies></app-technologies> -->
</main>